    <div ng-class="{ active: isActive(true)}" class="ui dimmer">
        <div class="ui indeterminate text loader">Probíhá ukládání konference a pokus o připojení k emailovému klientu.</div>
    </div>
<div class="ui attached message">
    <div class="header">
        Akce
    </div>
</div>

<form class="ui form attached fluid segment">
    <div class="field">
        <a class="ui basic button" ng-click="addConference()">
            <i class="add icon"></i>Přidat akci
        </a>
        <a ng-class="{'disabled' :  !conference._id || conference.participations.length > 0}" class="ui basic button" ng-click="removeConference()">
            <i class="remove red icon"></i>Odebrat akci
        </a>
        <span><i class="info icon"></i> Akci lze odebrat pouze pokud neobsahuje žádné účasti.</span>
    </div>
    <div class="two fields">
        <div class="field">
            <label>Aktuální akce:</label>
            <select class="ui dropdown" ng-options="item.name for item in allConference track by item._id" ng-model="conference">
            </select>
        </div>
        <div class="field required">
            <label>Název akce:</label>
            <input placeholder="Název konference" ng-model="conference.name">
        </div>
    </div>
    <div class="two fields">
        <div class="field required">
            <label>Datum začátku:</label>
            <input type="date" ng-model="conference.date" format-date>
        </div>
        <div class="field">
            <label>Místo konání:</label>
            <input type="text" ng-model="conference.place" placeholder="Místo konání">
        </div>
    </div>
    </div>
    <div class="two fields">
        <div class="field required">
            <label>Maximální počet účastníků:</label>
            <input type="number" ng-model="conference.attendeesNumber" placeholder="Maximální počet účastníků">
        </div>
        <div class="field required">
            <label> Upozornění na odevzdání příloh:</label>
            <select class="ui dropdown" ng-model="conference.notification">
                <option value="" disabled selected>Vyberte počet dnů</option>
                <option value="5">5 dnů</option>
                <option value="10">10 dnů</option>
                <option value="20">20 dnů</option>
                <option value="30">30 dnů</option>
            </select>
        </div>
    </div>
    <div class="two fields">
        <div class="field required">
            <label> Email akce:</label>
            <input type="email" ng-model="conference.email" placeholder="email">
        </div>
        <div class="field required">
            <label> Heslo - email akce:</label>
            <input type="password" ng-model="conference.emailPassword" placeholder="password">
        </div>
    </div>
    <div class="two fields">
        <div class="field required">
            <label> IMAP port emailu (běžně 993):</label>
            <input type="number" ng-model="conference.emailPort" placeholder="Port">
        </div>
    </div>


    <div class="field">
        <label>Zvací email:</label>
        <textarea ng-model="conference.invitation"></textarea>
    </div>
</form>

<div class="ui attached message">
    <div class="header">
        Přílohy:
    </div>
</div>
<div class="ui attached fluid segment">
    <div class="field">
        <a class="ui basic button" ng-click="addAttachementType()">
            <i class="add icon"></i>Přidat přílohu
        </a>
    </div>
</div>
<form ng-repeat="attachementType in conference.attachementTypes" class="ui form attached fluid segment">
    <div class="two fields">
        <div class="field required">
            <label>Název přílohy:</label>
            <input placeholder="Jméno" type="text" ng-model="attachementType.name">
        </div>
        <div class="field required">
            <label>Konečný termín odevzdání:</label>
            <input type="date" ng-model="attachementType.date" format-date>
        </div>
    </div>
    <div class="field required">
        <label>Popis přílohy:</label>
        <textarea ng-model="attachementType.description"></textarea>
    </div>
    <div class="field">
        <a ng-click="removeAttachementType($index)" class="ui button basic" ng-class="{'disabled' : attachementType.count > 0}">
            <i class="remove red icon"></i> Odstranit přílohu
        </a>
        <span ng-if="attachementType.count > 0"> <i class="info icon"></i> Pokud chcete smazat typ přílohy, nejdříve odstraňte všechny existující přílohy tohoto typu (1).</span>
    </div>
</form>

<div class="ui attached message">
    <div class="header">
        Úrovně sponzorství:
    </div>
</div>
<div class="ui attached fluid segment">
    <div class="field">
        <a class="ui basic button" ng-click="addSponsorshipLevel()">
            <i class="add icon"></i>Přidat úroveň
        </a>
    </div>
</div>

<form ng-repeat="sponsorshipLevel in conference.sponsorshipLevels" class="ui form attached fluid segment">
    <div class="two fields">
        <div class="field required">
            <label>Název úrovně:</label>
            <input type="text" ng-model="sponsorshipLevel.name">
        </div>
        <div class="field">
            <label>Hodnota úrovně:</label>
            <div class="ui right labeled input">
                <input type="text" placeholder="Cena" ng-model="sponsorshipLevel.value">
                <div class="ui basic label">
                    CZK
                </div>
            </div>
        </div>
    </div>
    <div class="field">
        <label>Povinné přílohy:</label>
        <multiple-autocomplete ng-model="sponsorshipLevel.attachementTypes" object-property="name" suggestions-arr="sponsorshipLevel.possibleAttachementTypes">
        </multiple-autocomplete>
    </div>
    <div class="field">
        <a ng-click="removeSponsorshipLevel($index)" class="ui button basic">
            <i class="remove red icon"></i> Odstranit úroveň
        </a>
    </div>
</form>

<div class="ui bottom attached warning message">
    <a ng-click="save()" class="ui button basic my-orange">
        <i class="save icon"></i> Uložit
    </a>
</div>