<div class="ui attached message">
    <div class="header">
        Uživatelé
    </div>
</div>
<form class="ui form attached fluid segment">
    <div class="field">
        <a ui-sref="home.user" class="ui button basic my-orange">
            <i class="add user icon"></i> Přidat
        </a>
    </div>
    <div class="two fields">
        <div class="field">
            <label><i class="search icon"></i> Hledat:</label>
            <div class="ui medium icon input fluid">
                <input type="text" placeholder="Hledat..." ng-model="search">
                <i class="search icon"></i>
            </div>
        </div>
        <div class="field">
            <label><i class="filter icon"></i> Typ účastníka: </label>
            <div class="ui fluid selection dropdown">
                <i class="dropdown icon"></i>
                <div class="text">
                    Vše
                </div>
                <div class="menu">
                    <div ng-repeat="role in roles2" class="item" ng-click="filterRole(role.constant)">
                        {{role.text}}</div>
                </div>
            </div>
        </div>
    </div>
</form>


<!-- all users table -->
<table class="ui celled selectable striped table">
    <thead>
        <tr>
            <th>Jméno</th>
            <th>Email</th>
            <th>Telefon</th>
            <th>Role</th>
            <th></th>
        </tr>
    </thead>

    <tbody ng-repeat="user in users | filter : {role: filter.role}: true | filter:search">
        <tr>
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
            <td>{{user.phone}}</td>
            <td>{{roles[user.role]}}</td>
            <td class="collapsing">
                <button class="ui basic icon button" data-content="Editovat" ui-sref="home.user({userId: user._id})"><i class="edit icon"></i></button>
                <button class="ui basic icon button" data-content="Odstranit" ng-class="{'disabled': user.role == 'PARTICIPANT' && user.participations.length > 0}" ng-click="showModal(user._id)"><i class="remove red icon"></i></button>
                <i class="info icon" data-content="Účastníka lze smazat pouze pokud nemá účast na žádné akci." ng-if="user.role == 'PARTICIPANT' && user.participations.length > 0"></i>
            </td>
        </tr>
    </tbody>

</table>

<div class="ui small modal">
    <i class="close icon"></i>
    <div class="header">
        Smazání uživatele.
    </div>
    <div class="image content">
        <div class="image">
            <i class="remove user icon"></i>
        </div>
        <div class="description">
            <p>Opravdu chcete smazat uživatele?</p>
        </div>
    </div>
    <div class="actions">

        <div class="ui red basic button" ng-click="closeModal()">
            <i class="remove icon"></i> Ne
        </div>
        <div class="ui green basic button" ng-click="removeUser()">
            <i class="checkmark icon"></i> Ano
        </div>

    </div>
</div>
<!-- all users table - end -->