<div class="ui attached message">
    <div class="header">
        Uživatelé
    </div>
</div>
<form class="ui form attached fluid segment">
    <div class="field">
        <a ui-sref="home.user" class="ui button basic my-orange">
            <i class="add user icon"></i> Přidat
        </a>
    </div>
    <div class="two fields">
        <div class="field">
            <label><i class="search icon"></i> Hledat:</label>
            <div class="ui medium icon input fluid">
                <input type="text" placeholder="Hledat..." ng-model="search">
                <i class="search icon"></i>
            </div>
        </div>
        <div class="field">
            <label><i class="filter icon"></i> Typ účastníka: </label>
            <div class="ui fluid selection dropdown">
                <i class="dropdown icon"></i>
                <div class="text">
                    Vše
                </div>
                <div class="menu">
                    <div ng-repeat="role in roles2" class="item" ng-click="filterRole(role.constant)">
                        {{role.text}}</div>
                </div>
            </div>
        </div>
    </div>
</form>


    <!-- all users table -->
    <table class="ui celled selectable striped table">
        <thead>
            <tr>
                <th>Jméno</th>
                <th>Email</th>
                <th>Telefon</th>
                <th>Role</th>
                <th></th>
            </tr>
        </thead>

        <tbody ng-repeat="user in users | filter : {role: filter.role}: true | filter:search">
            <tr>
                <td>{{user.name}}</td>
                <td>{{user.email}}</td>
                <td>{{user.phone}}</td>
                <td>{{roles[user.role]}}</td>
                <td class="collapsing">
                    <button class="ui basic icon button" data-content="Editovat" ui-sref="home.user({userId: user._id})"><i class="edit icon"></i></button>
                    <button class="ui basic icon button" data-content="Odstranit" ng-click="removeUser(user._id)"><i class="remove red icon"></i></button>
                </td>
            </tr>
        </tbody>

    </table>
    <!-- all users table - end -->