<div class="ui grid row">
    <div class="mobile only sixteen wide column paddingTop0">
        <button class="ui button fontWhite BGBlue fluid">
            Nová konference
        </button>
    </div>
    <div class="mobile only sixteen wide column paddingTop0">
        <button class="ui button fontWhite BGOrange fluid ">
            Uložit
        </button>
    </div>

    <div class="ten wide column">
        <h2 class="ui header"> Aktualní konference: </h2>
        <div class="ui large action input">
            <input type="text" value="Excel@FIT 2015">
            <button class="ui icon button">
                <i class="edit icon"></i>
            </button>
        </div>

    </div>
    <div class="tablet only computer only six wide column right aligned">
        <button class="ui button fontWhite BGBlue">
            Nová konference
        </button>
        <button class="ui button fontWhite BGOrange">
            Uložit
        </button>
    </div>


    <div class="sixteen wide column">
        <h4 class="ui header"> Upozornění na odevzdání: </h4>
        <div class="ui large action input">
            <input type="text" value="10 dnů">
            <div class="ui icon top left pointing dropdown button">
                <i class="edit icon"></i>
                <div class="menu">
                    <div class="item">5 dnů</div>
                    <div class="item">10 dnů</div>
                    <div class="item">15 dnů</div>
                    <div class="item">30 dnů</div>
                </div>
            </div>
        </div>
    </div>

    <div class="sixteen wide column">
        <h4 class="ui header"> Zvací email: </h4>
        <div class="ui form">
            <div class="field">
                <textarea>
                    Požadovaný formát: pdf nebo kvalitní jpg/png s rozlišením nejméně 400x400px Cílové umístění: elektronický sborník a webové
                    Stránky konference, jmenovka Termín: průběžně, nejpozději do 15. 2. 2016
                </textarea>
            </div>
        </div>
    </div>

    <div class="sixteen wide column">
        <h4 class="ui header"> Dokumenty k odevzdání: </h4>
        <button class="ui icon button">
            <i class="add icon"></i>
        </button>
    </div>

    <div class="sixteen wide column">
        <h5> Logo: </h5>
        <div class="ui form">
            <div class="ui calendar" id="example2">
                <div class="ui input left icon">
                    <i class="calendar icon"></i>
                    <input type="text" placeholder="Datum">
                </div>
            </div>

            <p>Popis dokumentu:</p>
            <div class="field">
                <textarea>
                    Požadovaný formát: pdf nebo kvalitní jpg/png s rozlišením nejméně 400x400px Cílové umístění: elektronický sborník a webové
                    Stránky konference, jmenovka Termín: průběžně, nejpozději do 15. 2. 2016
                </textarea>
            </div>
        </div>

        <h5> Propagační stránka: </h5>
        <div class="ui form">
            <div class="ui calendar" id="example2">
                <div class="ui input left icon">
                    <i class="calendar icon"></i>
                    <input type="text" placeholder="Datum">
                </div>
            </div>

            <p>Popis dokumentu:</p>
            <div class="field">
                <textarea>
                    Požadovaný formát: pdf, Velikost: 1 x A4 Termín do 31.3.2016
                </textarea>
            </div>
        </div>

        <h5> Video prezentace: </h5>
        <div class="ui form">
            <div class="ui calendar" id="example2">
                <div class="ui input left icon">
                    <i class="calendar icon"></i>
                    <input type="text" placeholder="Datum">
                </div>
            </div>

            <p>Popis dokumentu:</p>
            <div class="field">
                <textarea>
                    Požadovaný formát: avi/mp4 (doporučujeme doplnit o titulky, jelikož při promítání bude vypnuto audio) Maximální délka video
                    prezentace: 60 vteřin, nemělo by mít audio stopu. Termín: do 31. 3. 2016
                </textarea>
            </div>
        </div>
    </div>
</div>