<div class="ui grid">
    <div class="row bottom aligned">
        <div class="ten wide column">
            <h1 class="ui header displayInline">{{conference.name}} </h1>
            <p class="displayInline">{{conference.date | date:'dd/MM/yyyy'}}</p>
            <p> {{conference.place}} </p>
        </div>

        <div class="six wide column right aligned">
            <h5 class="ui displayInline">Zbývá {{dayRemaining}} dnů</h5>
        </div>
    </div>

    <table class="ui very basic table" ng-if="session.currentUser.permissions.AdministatorDashboardModule">
        <tbody>
            <tr>
                <td class="collapsing paddingRight0">
                    <i class="mail large icon"></i>
                </td>
                <td class="collapsing paddingLeft0">
                    <h4>Nezodpovězených zpráv:</h4>
                </td>
                <td>
                    <a ui-sref="home.invitationAnswers"> odpovědi na pozvánky ({{newEmails}})</a> / <a ui-sref="home.helpdeskNews"> helpdesk ({{unseenMessagesCount}}) </a>                    / <a ui-sref="home.communicationNews"> komunikace ({{unseenParticipationMessagesCount}}) </a>
                </td>
            </tr>

            <tr>
                <td class="collapsing paddingRight0">
                    <i class="configure large icon"></i>
                </td>
                <td class="collapsing paddingLeft0">
                    <h4>Nevyřešených problémů:</h4>
                </td>
                <td>
                    <a ui-sref="home.helpdeskOverview">{{unsolvedIssues}}</a>
                </td>
            </tr>

            <tr>
                <td class="collapsing paddingRight0">
                    <i class="users large icon"></i>
                </td>
                <td class="collapsing paddingLeft0">
                    <h4>Účastníků:</h4>
                </td>
                <td ui-sref="home.participants">
                    <a href="">pozváno ({{conference.invited}})</a> / <a href="">přislíbeno ({{conference.approved}})</a>/
                    <a href="">potvrzeno ({{conference.complete}})</a> / <a href="">odmítnuto ({{conference.cancelled}})</a>
                </td>
            </tr>

            <tr>
                <td class="collapsing paddingRight0">
                    <i class="money large icon"></i>
                </td>
                <td class="collapsing paddingLeft0">
                    <h4>Sponzoské dary:</h4>
                </td>
                <td ui-sref="home.participants">
                    <a href="">přislíbeno ({{conference.approvedMoney}} Kč)</a> / <a href="">přijato ({{conference.receivedMoney}} Kč)</a>
                </td>
            </tr>


            <tr>
                <td class="collapsing paddingRight0">
                    <i class="trophy large icon"></i>
                </td>
                <td class="collapsing paddingLeft0">
                    <h4>Úrovně sponzorství:</h4>
                </td>
                <td ui-sref="home.participants">
                    <a ng-repeat="sponsorshipLevel in conference.sponsorshipLevels" href="">{{sponsorshipLevel.name}}({{sponsorshipLevel.count}}) / </a>
                </td>
            </tr>

        </tbody>
    </table>

    <div class="row" ng-if="session.currentUser.permissions.AdministatorDashboardModule">
        <div class="column">
            <a ui-sref="home.user" class="ui button basic right floated my-orange">
                <i class="add user icon"></i> Přidat účastníka
            </a>
            <a ui-sref="home.invitation" class="ui button basic right floated my-orange">
                <i class="announcement icon"></i> Pozvat
            </a>
        </div>
    </div>

    <!-- participant - dashboard -->

    <table class="ui very basic table" ng-if="session.currentUser.permissions.ParticipantDashboardModule && activeConferenceParticipation">
        <tbody>
            <tr>
                <td>
                    <a ng-if="participation.newMessage.check" ui-sref="home.participant.communication({participantId: session.currentUser._id})">
                        <h4 class="ui header"><i class="fitted mail icon"></i>Máte novou zprávu od: {{participation.newMessage.author}}.</h4></a>
                    <h4 class="ui header" ng-if="!(participation.newMessage.check)"><i class="fitted mail icon"></i>Nemáte žádné nové zprávy.</h4>
                </td>
                <td class="eight wide">
                    <h4 class="ui header">
                        <span ng-if="!participation.sponsorshipLevel"><i class="fitted trophy large icon"></i>Úroveň sponzorství: není přiřazeno.</span>
                        <span ng-if="participation.sponsorshipLevel"><i class="fitted trophy large icon"></i> Úroveň sponzorství: {{participation.sponsorshipLevel.type.name}} ({{participation.sponsorshipLevel.value}} Kč)</span>
                    </h4>
                </td>
            </tr>

            <tr class="top aligned">
                <td>
                    <div class="paddingBot1">
                        <h5>Dokumenty ({{participation.attachements.length}}/{{attachementTypes.length}}):</h5></div>
                    <div class="paddingLeft2 paddingBot1" ng-repeat="attachementType in attachementTypes">
                        <i class="ui green empty circular label" ng-if="attachementType.attachement"></i>
                        <i class="ui red empty circular label" ng-if="!attachementType.attachement"></i>
                        <span> {{attachementType.name}}</span>
                        <span ng-if="attachementType.attachement"> ({{attachementType.attachement.date | date:'dd/MM/yyyy HH:mm:ss'}}) </span>
                        <span ng-if="!attachementType.attachement"> (neodevzdáno) </span>
                    </div>
                </td>
                <td>
                    <div class="paddingBot1">
                        <h5>Zástupci firmy na akci ({{participation.attendees.length}}/{{conference.attendeesNumber}}):</h5></div>
                    <div class="paddingLeft2 paddingBot1" ng-repeat="attendee in participation.attendees">{{attendee.name}}</div>
                </td>
            </tr>
            <tr>
                <td>
                    <a class="ui basic button bottom aligned my-orange" ui-sref="home.participant.documents({participantId: session.currentUser._id})">
                        <i class="edit icon"></i>Editovat dokumenty
                    </a>
                </td>
                <td>
                    <a class="ui basic button bottom aligned my-orange" ui-sref="home.participant.representatives({participantId: session.currentUser._id})">
                        <i class="edit icon"></i>Editovat zástupce
                    </a>
                </td>
            </tr>
        </tbody>
    </table>

    <div ng-if="!activeConferenceParticipation && session.currentUser.permissions.ParticipantDashboardModule">
        <div class="row bottom aligned">
            <div class="ten wide column">
                <h1 class="ui header displayInline">{{conference.name}} </h1>
                <p class="displayInline">{{conference.date | date:'dd/MM/yyyy'}}</p>
                <p> {{conference.place}} </p>
            </div>

            <div class="six wide column right aligned">
                <h5 class="ui displayInline">Zbývá {{dayRemaining}} dnů</h5>
            </div>
        </div>
        <h4>Neúčastníte se aktualní akce, pro její účast kontaktujte ....</h4>
    </div>

</div>
<div class="ui divider marginTopAndBot3"></div>
<!-- participant - dashboard -->
<div class="ui grid">
    <h3 class="ui header">Ostatní akce:</h3>
    <h4 class="ui header" ng-if="participations.length < 2"> Nemáte žádné jiné akce </h4>
    <div class="center aligned five column stackable row" ng-if="!session.currentUser.permissions.ParticipantDashboardModule">
        <a ui-sref="home.participants" class="column" ng-repeat="conference in otherConferences" ng-if="session.currentUser.permissions.ContactPersonOnly">
            <div class="ui segment otherAction">
                <h3 class="ui header fontGrey">{{conference.name}}</h3>
                <span class="bottom alligned fontGrey">{{conference.date | date:'dd/MM/yyyy'}}</span>
            </div>
        </a>
        <a ui-sref="home.administration.conference" class="column" ng-repeat="conference in otherConferences" ng-if="session.currentUser.permissions.ConferenceAdministrationModuleRead">
            <div class="ui segment otherAction">
                <h3 class="ui header fontGrey">{{conference.name}}</h3>
                <span class="bottom alligned fontGrey">{{conference.date | date:'dd/MM/yyyy'}}</span>
            </div>
        </a>
    </div>
    <div class="center aligned five column stackable row" ng-if="session.currentUser.permissions.ParticipantDashboardModule">
        <a ng-if="participation.conference._id != conference._id" ui-sref="home.participant.information({participantId: session.currentUser._id})"
            class="column" ng-repeat="participation in participations">
            <div class="ui segment otherAction">
                <h3 class="ui header fontGrey">{{participation.conference.name}}</h3>
                <span class="bottom alligned fontGrey">{{participation.conference.date | date:'dd/MM/yyyy'}}</span>
            </div>
        </a>
    </div>
</div>