<div class="ui grid">
    <div class="row bottom aligned">
        <div class="ten wide column">
            <h1 class="ui header displayInline">{{conference.name}} </h1>
            <p class="displayInline">{{conference.date | date:'dd/MM/yyyy'}}</p>
            <p> {{conference.place}} </p>
        </div>

        <div class="six wide column right aligned">
            <h5 class="ui displayInline">Zbývá {{dayRemaining}} dnů</h5>
        </div>
    </div>

    <table class="ui very basic table" ng-if="session.currentUser.permissions.AdministatorDashboardModule">
        <tbody>
            <tr>
                <td class="collapsing paddingRight0">
                    <i class="mail large icon"></i>
                </td>
                <td class="collapsing paddingLeft0">
                    <h4>Nezodpovězených zpráv:</h4>
                </td>
                <td>
                    <a ui-sref="home.invitationAnswers"> odpovědi na pozvánky ({{newEmails}})</a> / <a href=""> helpdesk (10) </a>
                </td>
            </tr>

            <tr>
                <td class="collapsing paddingRight0">
                    <i class="configure large icon"></i>
                </td>
                <td class="collapsing paddingLeft0">
                    <h4>Nevyřešených problémů:</h4>
                </td>
                <td>
                    <a href="">{{unsolvedIssues}}</a>
                </td>
            </tr>

            <tr>
                <td class="collapsing paddingRight0">
                    <i class="users large icon"></i>
                </td>
                <td class="collapsing paddingLeft0">
                    <h4>Účastníků:</h4>
                </td>
                <td>
                    <a href="">pozváno ({{conference.invited}})</a> / <a href="">přislíbeno ({{conference.approved}})</a>                    / <a href="">potvrzeno ({{conference.complete}})</a> / <a href="">odmítnuto ({{conference.cancelled}})</a>
                </td>
            </tr>

            <tr>
                <td class="collapsing paddingRight0">
                    <i class="money large icon"></i>
                </td>
                <td class="collapsing paddingLeft0">
                    <h4>Sponzoské dary:</h4>
                </td>
                <td>
                    <a href="">přislíbeno ({{conference.approvedMoney}} Kč)</a> / <a href="">přijato ({{conference.receivedMoney}} Kč)</a>
                </td>
            </tr>


            <tr>
                <td class="collapsing paddingRight0">
                    <i class="trophy large icon"></i>
                </td>
                <td class="collapsing paddingLeft0">
                    <h4>Úrovně sponzorství:</h4>
                </td>
                <td>
                    <a ng-repeat="sponsorshipLevel in conference.sponsorshipLevels" href="">{{sponsorshipLevel.name}}({{sponsorshipLevel.count}}) / </a>
                </td>
            </tr>

        </tbody>
    </table>

    <div class="row" ng-if="session.currentUser.permissions.AdministatorDashboardModule">
        <div class="column">
            <a ui-sref="home.user" class="ui button basic right floated my-orange">
                <i class="add user icon"></i> Registrovat
            </a>
            <a ui-sref="home.invitation" class="ui button basic right floated my-orange">
                <i class="announcement icon"></i> Pozvat
            </a>
        </div>
    </div>

    <!-- participant - dashboard -->

    <table class="ui very basic table" ng-if="session.currentUser.permissions.ParticipantDashboardModule">
        <tbody>
            <tr>
                <td>
                    <h4 class="ui header"><i class="fitted mail icon"></i>Máte novou zprávu od: Sadovská Sylva.</h4>
                </td>
                <td class="eight wide">
                    <h4 class="ui header"><i class="fitted trophy large icon"></i>Úroveň sponzorství: zlaté</h4>
                </td>
            </tr>

            <tr class="top aligned">
                <td>
                    <div class="paddingBot1">
                        <h5>Dokumenty (2/3):</h5></div>
                    <div class="paddingLeft2 paddingBot1">
                        <i class="ui green empty circular label"></i> Logo - odevzdáno </div>
                    <div class="paddingLeft2 paddingBot1">
                        <i class="ui green empty circular label"></i> Propagační stránka - odevzdáno </div>
                    <div class="paddingLeft2 paddingBot1">
                        <i class="ui red empty circular label"></i> Video prezentace - neodevzdáno </div>
                </td>
                <td>
                    <div class="paddingBot1">
                        <h5>Zástupci firmy (5/6):</h5></div>
                    <div class="paddingLeft2 paddingBot1">Bezděs Filip</div>
                    <div class="paddingLeft2 paddingBot1">Novotný Jan</div>
                    <div class="paddingLeft2 paddingBot1">Krpolová Petra</div>
                    <div class="paddingLeft2 paddingBot1">Květovaná Jarmila</div>
                    <div class="paddingLeft2 paddingBot1">Těžký Zdenek</div>
                </td>
            </tr>
            <tr>
                <td>
                    <a class="ui basic button bottom aligned my-orange" ui-sref="home.participant.documents">
                        <i class="edit icon"></i>Editovat dokumenty
                    </a>
                </td>
                <td>
                    <a class="ui basic button bottom aligned my-orange" ui-sref="home.participant.representatives">
                        <i class="edit icon"></i>Editovat zástupce
                    </a>
                </td>
            </tr>
        </tbody>
    </table>

</div>
<!-- participant - dashboard -->

<div class="ui grid BGWhite paddingBot3">
    <div class="row">
        <div class="column">
            <h3 class="ui header displayInline">Ostatní akce:</h3>
        </div>
    </div>
    <div class="stackable seven column row grid-container" ng-repeat="conference in otherConferences">
        <a href="" class="column BGBlue ui segment marginRight075">
            <h4 class="ui header fontGrey">{{conference.name}}</h4>
            <span class="bottom alligned fontGrey">{{conference.date | date:'dd/MM/yyyy'}}</span>
        </a>
    </div>
</div>