	<div class="ui grid BGBlueDark paddingTopAndBot3">
	  <div class="ui grid container"> 
	  	<div class="equal width stackable row">
	  		<div class="column">
	  			<i class="inverted big send outline icon floatLeft"></i>
	  			<h1 class="ui header fontWhite displayInline">Sociální sítě</h1>
	  		</div>

	  		<div class="column middle aligned">
	  			<i class="inverted big facebook icon"></i>
				<i class="inverted big google plus icon"></i>
				<i class="inverted big twitter icon"></i>
	  		</div>
	  	</div>
	  </div>
	</div>
