<!-- Issue detail -->
<div class="ui grid row grid-container">
    <div class="fourteen wide column">
        <h3>Nelze změnit uživatelské heslo: </h3>
        <p> Po změně uživatelského hesla, nelze provést uložení nastavení.... </p>

        <p>Otevřeno před: 30 dny.</p>
        <div class="ui selection dropdown">
            <input type="hidden" name="state">
            <i class="dropdown icon"></i>
            <div class="text">
                <div class="ui red empty circular label"></div> V řešení
            </div>
            <div class="menu">
                <div class="item" data-value="inProgress">
                    <div class="ui red empty circular label"></div> V řešení
                </div>
                <div class="item" data-value="done">
                    <div class="ui green empty circular label"></div> Vyřešeno
                </div>
            </div>
        </div>

        <div class="ui selection dropdown">
            <input type="hidden" name="state">
            <i class="dropdown icon"></i>
            <div class="text">
                <div class="ui red empty circular label"></div> Chyba v systému
            </div>
            <div class="menu">
                <div class="item" data-value="systemErr">
                    <div class="ui red empty circular label"></div> Chyba v systému
                </div>
                <div class="item" data-value="improvement">
                    <div class="ui blue empty circular label"></div> Návrh na zlepšení
                </div>
                <div class="item" data-value="question">
                    <div class="ui black empty circular label"></div> Question
                </div>
            </div>
        </div>

        <div class="ui selection dropdown">
            <input type="hidden" name="state">
            <i class="dropdown icon"></i>
            <div class="text">
                <div class="ui red empty circular label"></div> Vysoká
            </div>
            <div class="menu">
                <div class="item" data-value="low">
                    <div class="ui yellow empty circular label"></div> Nízká
                </div>
                <div class="item" data-value="meddium">
                    <div class="ui orange empty circular label"></div> Střední
                </div>
                <div class="item" data-value="high">
                    <div class="ui red empty circular label"></div> Vysoká
                </div>
            </div>
        </div>

        <div class="ui selection dropdown">
            <input type="hidden" name="state">
            <i class="dropdown icon"></i>
            <div class="text">
                Kratochvíl
            </div>
            <div class="menu">
                <div class="item" data-value="low">
                    Kratochvíl
                </div>
                <div class="item" data-value="low">
                    Sadovská
                </div>
                <div class="item" data-value="meddium">
                    Kreslíková
                </div>
                <div class="item" data-value="high">
                    Zemčík
                </div>
            </div>
        </div>
    </div>
    <div class="two wide column">
        <button class="ui button fontWhite BGOrange fluid right floated">
            Uložit
        </button>
    </div>
</div>

<div class="ui divider"></div>
<div class="ui grid row grid-container">
    <div class="sixteen wide column">
        <h4> Nová zpráva </h4>
        <div class="ui form">
            <div class="field">
                <textarea>
                </textarea>
            </div>
            <div class="field">
                <button class="ui right floated button fontWhite BGOrange">
                    Odeslat
                </button>
            </div>
        </div>
    </div>



    <div class="twelve wide left floated column">
        <div class="ui small floating message">
            <div class="header">
                Ing. Petr Novák - 24/3/2015 13:46
            </div>
            <p>Problém bude vyřešen dnes do 22:00.</p>
        </div>
    </div>

    <div class="twelve wide right floated column">
        <div class="ui small floating message">
            <div class="header">
                Jiří Kratochvíl - 23/3/2015 17:46
            </div>
            <p>Dobrý den, děkuji za upozornění. Chybu prověřím a budu Vás dále informovat o řešení.</p>
        </div>
    </div>

    <div class="twelve wide column">
        <div class="ui small floating message ">
            <div class="header">
                Jiří Kratochvíl - 10/3/2015 13:40
            </div>
            <p>Dobrý den, mám problém se změnou uživatelského hesla. Snažil jsem se změnit automaticky vygenerované heslo na
                své vlastní. Uložení proběhlo úspěšně. Do systému se lze i přesto přihlásit pouze pomocí starého hesla.</p>
        </div>
    </div>
</div>