<div class="grid-container">
    <div class="ui grid">
        <!-- desktop/tablet menu -->
        <div class="computer tablet only row">
            <div class="ui menu navbar">
                <span class="item">eConference</span>
                <a ui-sref-active="active" ui-sref="home.dashboard" class="item">nástěnka</a>
                <a class="item" ui-sref="home.participant" ng-if="session.currentUser.permissions.ConferenceParticipantModuleRead"> správa konference</a>
                <a ui-sref-active="active" ui-sref="home.conference" class="item" ng-if="session.currentUser.permissions.ConferenceAdministrationModuleRead">konference</a>
                <a ui-sref-active="active" ui-sref="home.helpdesk" class="item">helpdesk</a>
                <a ui-sref-active="active" ui-sref="home.participants" class="item" ng-if="session.currentUser.permissions.ParticipantsModuleRead">účastníci</a>
                <a ui-sref-active="active" ui-sref="home.users" class="item" ng-if="session.currentUser.permissions.UserModuleRead">uživatelé</a>

                <div class="right menu">
                    <a ui-sref-active="active" class="item">{{session.currentUser.name}}<i class="user icon"></i></a>
                    <a ui-sref-active="active" ui-sref="login" class="item" ng-click="deauthorize()"><i class="sign out icon"></i></a>
                </div>
            </div>
        </div>
        <!-- desktop/tablet menu - end -->

        <!-- mobile menu -->
        <div class="mobile only narrow row">
            <div class="ui navbar menu">
                <a ui-sref-active="active" ui-sref="home.dashboard" class="brand item">nástěnka</a>
                <div class="right menu open">
                    <a ng-model="collapsed" ng-click="collapsed=!collapsed" href="" class="menu item">
                        <i class="sidebar icon"></i>
                    </a>
                </div>
            </div>
            <div ng-show="collapsed" class="ui vertical navbar menu">
                <a class="item" ui-sref="home.participant" ng-if="session.currentUser.permissions.ConferenceParticipantModuleRead"> správa konference</a>
                <a ui-sref-active="active" ui-sref="home.conference" class="item" ng-if="session.currentUser.permissions.ConferenceAdministrationModuleRead">konference</a>
                <a ui-sref-active="active" ui-sref="home.helpdesk" class="item">helpdesk</a>
                <a ui-sref-active="active" ui-sref="home.participants" class="item" ng-if="session.currentUser.permissions.ParticipantsModuleRead">účastníci</a>
                <a ui-sref-active="active" ui-sref="home.users" class="item" ng-if="session.currentUser.permissions.UserModuleRead">uživatelé</a>
                <a ui-sref-active="active" class="item">uživatel<i class="user icon floatNone"></i> </a>
                <a ui-sref-active="active" ui-sref="login" class="item" ng-click="deauthorize()">logout<i class="sign out icon floatNone"></i></a>
            </div>
        </div>
        <!-- mobile menu - end -->
    </div>
</div>


<div class="grid-container">
    <div class="ui grid">
        <div class="row one column">
            <div class="column">
                <div ui-view class="content"></div>
            </div>
        </div>
    </div>
</div>


<div class="ui inverted vertical footer segment">
    <div class="ui grid grid-container three column stackable row">
        <div class="column">
            <i class="inverted big send outline icon floatLeft"></i>
            <p class="fontWhite fontS185">Sociální sítě</p>
        </div>

        <div class="column middle aligned">
            <a href="https://www.facebook.com/events/551347568356406/" class="ui circular facebook icon button">
                <i class="facebook icon large"></i>
            </a>
            <a href="https://plus.google.com/+FIT_VUT/posts" class="ui circular twitter icon button">
                <i class="twitter icon large"></i>
            </a>
            <a href="https://twitter.com/FIT_VUT" class="ui circular google plus icon button">
                <i class="google plus icon large"></i>
            </a>

        </div>
    </div>
</div>