<div class="ui attached message">
    <div class="header">
        Pozvání účastníků
    </div>
</div>
<form class="ui form attached fluid segment">
    <div class="field">
        <label>Pozvaní účastníci:</label>
        <select class="ui fluid search dropdown" multiple="">
            <option value="">Vyberte účastníky</option>
            <option value="AL">Alabama</option>
            <option value="AK">Alaska</option>
            <option value="AZ">Arizona</option>
            <option value="AR">Arkansas</option>
            <option value="CA">California</option>
            <option value="CO">Colorado</option>
        </select>
    </div>
    <div class="field">
        <label> Text pozvánky: </label>
        <textarea>{{invitation}}</textarea>
    </div>
</form>
<div class="ui bottom attached warning message">
    <a ng-click="save()" class="ui button basic my-orange">
        <i class="send outline icon"></i> Odeslat pozvánky
    </a>
</div>


