<div class="ui attached message">
    <div class="header">
        Externí účastníci
    </div>
</div>
<form class="ui form attached fluid segment">
    <div class="field">
        <a ui-sref="home.user" class="ui button basic my-orange">
            <i class="add user icon"></i> Přidat
        </a>
        <a ui-sref="home.invitation" class="ui button basic my-orange">
            <i class="announcement icon"></i> Pozvat
        </a>
    </div>

    <div class="four fields">

        <div class="field">
            <label><i class="search icon"></i> Hledat:</label>
            <div class="ui medium icon input fluid">
                <input type="text" placeholder="Hledat..." ng-model="search">
                <i class="search icon"></i>
            </div>
        </div>

        <div class="field">
            <label><i class="filter icon"></i> Akce: </label>
            <div class="ui fluid selection dropdown">
                <i class="dropdown icon"></i>
                <div class="text">
                    Vše
                </div>
                <div class="menu">
                    <div ng-repeat="conference in conferences" class="item" ng-click="filterConference(conference)">
                        {{conference.name}}</div>
                </div>
            </div>
        </div>
        <div class="field" ng-if="filter.conferenceFilter">
            <label><i class="filter icon"></i> Úroveň: </label>
            <select class="" ng-options="item.name for item in conference.sponsorshipLevels track by item._id" ng-model="filter.level">
                <option selected value="">Vše</option>
            </select>
        </div>

        <div class="field" ng-if="filter.conferenceFilter">
            <label><i class="filter icon"></i> Stav: </label>
            <select class="" ng-options="item.text for item in states" ng-model="filter.state" ng-change="check()">
                <option selected value="">Vše</option>
            </select>
        </div>
    </div>
</form>

<table class="ui selectable celled striped table">
    <thead>
        <tr>
            <th>Firma</th>
            <th>IČO</th>
            <th>Kontaktní osoba</th>
            <!-- <th>Přiřazená osoba</th> -->
            <th>Email</th>
            <th>Telefon</th>
            <th></th>
        </tr>
    </thead>
    <tbody ng-repeat="participant in participants  | filter : {state: filter.state.constant}: true | filter : {level: filter.level._id}: true | filter:search">
        <tr>
            <td>{{participant.name}}</td>
            <td>{{participant.ICO}}</td>
            <td>{{participant.contactPerson}}</td>
            <!-- <td>Mgr. Sylva Sadovská</td> -->
            <td>{{participant.email}}</td>
            <td>{{participant.phone}}</td>
            <td class="collapsing">
                <button class="ui basic icon button" data-content="Editovat" ui-sref="home.participant.information({participantId: participant._id})"><i class="edit icon"></i></button>
                <button class="ui basic icon button" data-content="Komunikovat"><i class="comments icon"></i></button>
                <button class="ui basic icon button" data-content="Odstranit"><i class="remove red icon"></i></button>
            </td>
        </tr>

    </tbody>
</table>