<div class="ui grid">
    <!-- mobile only filters -->
    <div class="mobile only sixteen wide column">
        <div class="ui medium icon input width100">
            <input type="text" placeholder="Hledat...">
            <i class="search icon"></i>
        </div>
    </div>

    <div class="mobile only sixteen wide column paddingTop0">
        <button ui-sref="home.invitation" class="ui button fontWhite BGBlue width100">
            Pozvat
        </button>
    </div>
    <div class="mobile only sixteen wide column paddingTop0">
        <button class="ui button fontWhite BGBlue width100">
            Přidat
        </button>
    </div>

    <div class="mobile only sixteen wide column paddingTop0">
        <div class="ui floating labeled icon dropdown button width100">
            <i class="filter icon"></i>
            <span class="text">Konference</span>
            <div class="menu">
                <div class="item">
                    Vše
                </div>
                <div class="item">
                    Excel@FIT 2015
                </div>
                <div class="item">
                    Excel@FIT 2014
                </div>
                <div class="item">
                    Glorius 2014
                </div>
            </div>
        </div>
    </div>

    <div class="mobile only sixteen wide column paddingTop0">
        <div class="ui floating labeled icon dropdown button width100">
            <i class="filter icon"></i>
            <span class="text">Medaile</span>
            <div class="menu">
                <div class="item">
                    Vše
                </div>
                <div class="item">
                    Zlatá
                </div>
                <div class="item">
                    Stříbrná
                </div>
                <div class="item">
                    Bronzová
                </div>
            </div>
        </div>
    </div>

    <div class="mobile only sixteen wide column paddingTop0">
        <div class="ui floating labeled icon dropdown button width100">
            <i class="filter icon"></i>
            <span class="text">Stav</span>
            <div class="menu">
                <div class="item">
                    Odmítnuto
                </div>
                <div class="item">
                    Přislíbeno
                </div>
                <div class="item">
                    Potvrzeno
                </div>
                <div class="item">
                    Smlouva v jednání
                </div>
                <div class="item">
                    Podepsáno
                </div>
            </div>
        </div>

    </div>

    <div class="mobile only sixteen wide column paddingTop0">
        <div class="ui floating labeled icon dropdown button width100">
            <i class="filter icon"></i>
            <span class="text">Přiřazeno</span>
            <div class="menu">
                <div class="item">
                    Sadovská
                </div>
                <div class="item">
                    Kreslíková
                </div>
                <div class="item">
                    Zemčík
                </div>
            </div>
        </div>
    </div>

    <!-- mobile only filters - end-->
    <!-- desktop/computer -->
    <div class="tablet only computer only four wide column">
        <div class="ui medium icon input width100">
            <input type="text" placeholder="Hledat...">
            <i class="search icon"></i>
        </div>
    </div>
    <div class="tablet only computer only twelve wide column right aligned">
        <button ui-sref="home.invitation" class="ui button fontWhite BGBlue">
            Pozvat
        </button>
        <button class="ui button fontWhite BGBlue">
            Přidat
        </button>
    </div>

    <div class="tablet only computer only sixteen wide column paddingTop0">
        <div class="ui floating labeled icon dropdown button">
            <i class="filter icon"></i>
            <span class="text">Konference</span>
            <div class="menu">
                <div class="item">
                    Vše
                </div>
                <div class="item">
                    Excel@FIT 2015
                </div>
                <div class="item">
                    Excel@FIT 2014
                </div>
                <div class="item">
                    Glorius 2014
                </div>
            </div>
        </div>

        <div class="ui floating labeled icon dropdown button">
            <i class="filter icon"></i>
            <span class="text">Medaile</span>
            <div class="menu">
                <div class="item">
                    Vše
                </div>
                <div class="item">
                    Zlatá
                </div>
                <div class="item">
                    Stříbrná
                </div>
                <div class="item">
                    Bronzová
                </div>
            </div>
        </div>

        <div class="ui floating labeled icon dropdown button">
            <i class="filter icon"></i>
            <span class="text">Stav</span>
            <div class="menu">
                <div class="item">
                    Odmítnuto
                </div>
                <div class="item">
                    Přislíbeno
                </div>
                <div class="item">
                    Potvrzeno
                </div>
                <div class="item">
                    Smlouva v jednání
                </div>
                <div class="item">
                    Podepsáno
                </div>
            </div>
        </div>

        <div class="ui floating labeled icon dropdown button">
            <i class="filter icon"></i>
            <span class="text">Přiřazeno</span>
            <div class="menu">
                <div class="item">
                    Sadovská
                </div>
                <div class="item">
                    Kreslíková
                </div>
                <div class="item">
                    Zemčík
                </div>
            </div>
        </div>
    </div>
    <!-- desktop/computer - end -->
</div>


<table class="ui selectable celled striped table">
    <thead>
        <tr>
            <th>Firma</th>
            <th>Identifikační číslo</th>
            <th>Kontaktní osoba</th>
            <th>Přiřazená osoba</th>
            <th>Email</th>
            <th>Telefon</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>IBM</td>
            <td>738728382332</td>
            <td>Ing. Petr Novák</td>
            <td>Mgr. Sylva Sadovská</td>
            <td>ibm@europe.com</td>
            <td>666777342</td>
            <td>
                <a href=""><i class="large comments  outline icon"></i></a>
                <a ui-sref="home.participant"><i class="large edit icon"></i></a>
                <a href=""><i class="large delete icon"></i></a>
            </td>
        </tr>

        <tr>
            <td>IBM</td>
            <td>738728382332</td>
            <td>Ing. Petr Novák</td>
            <td>Mgr. Sylva Sadovská</td>
            <td>ibm@europe.com</td>
            <td>666777342</td>
            <td>
                <a href=""><i class="large comments  outline icon"></i></a>
                <a href=""><i class="large edit icon"></i></a>
                <a href=""><i class="large delete icon"></i></a>
            </td>
        </tr>

        <tr>
            <td>IBM</td>
            <td>738728382332</td>
            <td>Ing. Petr Novák</td>
            <td>Mgr. Sylva Sadovská</td>
            <td>ibm@europe.com</td>
            <td>666777342</td>
            <td>
                <a href=""><i class="large comments  outline icon"></i></a>
                <a href=""><i class="large edit icon"></i></a>
                <a href=""><i class="large delete icon"></i></a>
            </td>
        </tr>

        <tr>
            <td>IBM</td>
            <td>738728382332</td>
            <td>Ing. Petr Novák</td>
            <td>Mgr. Sylva Sadovská</td>
            <td>ibm@europe.com</td>
            <td>666777342</td>
            <td>
                <a href=""><i class="large comments  outline icon"></i></a>
                <a href=""><i class="large edit icon"></i></a>
                <a href=""><i class="large delete icon"></i></a>
            </td>
        </tr>

        <tr>
            <td>IBM</td>
            <td>738728382332</td>
            <td>Ing. Petr Novák</td>
            <td>Mgr. Sylva Sadovská</td>
            <td>ibm@europe.com</td>
            <td>666777342</td>
            <td>
                <a href=""><i class="large comments  outline icon"></i></a>
                <a href=""><i class="large edit icon"></i></a>
                <a href=""><i class="large delete icon"></i></a>
            </td>
        </tr>

        <tr>
            <td>IBM</td>
            <td>738728382332</td>
            <td>Ing. Petr Novák</td>
            <td>Mgr. Sylva Sadovská</td>
            <td>ibm@europe.com</td>
            <td>666777342</td>
            <td>
                <a href=""><i class="large comments  outline icon"></i></a>
                <a href=""><i class="large edit icon"></i></a>
                <a href=""><i class="large delete icon"></i></a>
            </td>
        </tr>

        <tr>
            <td>IBM</td>
            <td>738728382332</td>
            <td>Ing. Petr Novák</td>
            <td>Mgr. Sylva Sadovská</td>
            <td>ibm@europe.com</td>
            <td>666777342</td>
            <td>
                <a href=""><i class="large comments  outline icon"></i></a>
                <a href=""><i class="large edit icon"></i></a>
                <a href=""><i class="large delete icon"></i></a>
            </td>
        </tr>

        <tr>
            <td>IBM</td>
            <td>738728382332</td>
            <td>Ing. Petr Novák</td>
            <td>Mgr. Sylva Sadovská</td>
            <td>ibm@europe.com</td>
            <td>666777342</td>
            <td>
                <a href=""><i class="large comments outline icon"></i></a>
                <a href=""><i class="large edit icon"></i></a>
                <a href=""><i class="large delete icon"></i></a>
            </td>
        </tr>
    </tbody>
</table>