<div class="grid-container">
    <div class="ui attached message">
        <div class="header">
            Obnova hesla
        </div>
    </div>

    <form class="ui form attached fluid segment">
        <div class="field">
            <label> Registrační email: </label>
            <input placeholder="Zadejte Váš email" ng-model="user.email">
        </div>
    </form>
    <div class="ui bottom attached warning message">
        <a ng-click="recoveryPassword()" class="ui button basic my-orange">
            <i class="send icon"></i> Zaslat heslo
        </a>
    </div>
</div>


<!-- error message -->
<div class="ui icon negative message status-alert" style="display: none">
    <i class="warning circle icon"></i>
    <i class="close icon"></i>
    <div class="content">
        <div class="header">
            Operace selhala
        </div>
        <ul class="list">
            <li ng-repeat="error in errors">{{error}}</li>
        </ul>
    </div>
</div>


<!-- success message -->
<div class="ui icon positive message status-success" style="display: none">
    <i class="check circle outline icon"></i>
    <i class="close icon"></i>
    <div class="content">
        <div class="header">
            Operace proběhla úspěšně
        </div>
        <p>{{message}}</p>
    </div>
</div>

