<!-- new user form -->
<div class="ui attached message">
    <div class="header">
        Uživatel
    </div>
</div>
<form class="ui form attached fluid segment">
    <div class="two fields">
        <div class="field required">
            <label>Role:</label>
            <select class="ui dropdown" ng-model="user.role">
                <option value="" disabled selected>Role</option>
                <option ng-if="session.currentUser.permissions.Administration" value="ADMINISTRATOR">Administrátor</option>
                <option value="PARTICIPANT">Účastník</option>
                <option ng-if="session.currentUser.permissions.ContactPersonAdministration" value="CONTACT_PERSON">Kontaktní osoba</option>
            </select>
        </div>
        <div class="field required" ng-show="user.role!='PARTICIPANT'">
            <label>Přijmení a jméno:</label>
            <input placeholder="Přijmení a jméno" type="text" ng-model="user.name">
        </div>
        <div class="field required" ng-show="user.role=='PARTICIPANT'">
            <label>Název firmy:</label>
            <input placeholder="Název firmy" type="text" ng-model="user.name">
        </div>
    </div>
    <div class="two fields" ng-show="user.role=='PARTICIPANT'">
        <div class="field required">
            <label>Kontaktní osoba:</label>
            <input placeholder="Přijmení a jméno" type="text" ng-model="user.contactPerson">
        </div>
    </div>
    <div class="two fields">
        <div class="field required">
            <label>Email:</label>
            <input placeholder="Email" type="text" ng-model="user.email">
        </div>
        <div class="field required">
            <label>Telefon:</label>
            <input placeholder="Telefon" type="number" ng-model="user.phone">
        </div>
    </div>
</form>
<form class="ui form attached fluid segment" ng-show="user.role=='PARTICIPANT'">
    <div class="two fields">
        <div class="field required">
            <label>IČO:</label>
            <input placeholder="IČO" type="number" ng-model="user.ICO">
        </div>

        <div class="field">
            <label>DIČ:</label>
            <input placeholder="DIČ" type="number" ng-model="user.DIC">
        </div>
    </div>
</form>
<form class="ui form attached fluid segment" ng-show="user.role=='PARTICIPANT'">
    <div class="two fields">
        <div class="field">
            <label>Stát:</label>
            <input placeholder="Stát" type="text" ng-model="user.address.country">
        </div>

        <div class="field required">
            <label>Město:</label>
            <input placeholder="Město" type="text" ng-model="user.address.city">
        </div>
    </div>

    <div class="two fields">
        <div class="field required">
            <label>Ulice:</label>
            <input placeholder="Ulice" type="text" ng-model="user.address.street">
        </div>

        <div class="field required">
            <label>PSČ:</label>
            <input placeholder="PSČ" type="number" ng-model="user.address.postal">
        </div>
    </div>
</form>
<form class="ui form attached fluid segment" ng-if="settings">
    <div class="two fields" ng-if="settings">
        <div class="field">
            <label>Nové heslo:</label>
            <input placeholder="Heslo" type="password" ng-model="user.newPassword">
        </div>
        <div class="field">
            <label>Nové heslo kontrola:</label>
            <input placeholder="Heslo" type="password" ng-model="user.newPassword1">
        </div>
    </div>
</form>

<div class="ui bottom attached warning message">
    <a ng-click="save()" class="ui button basic my-orange">
        <i class="save icon"></i> Uložit
    </a>
</div>