<!-- new user form -->
<div class="ui grid row">
    <div class="ten wide column">
        <h1> Nový uživatel</h1>
    </div>

    <!-- submit button - computer -->
    <div class="tablet only computer only six wide column right aligned">
        <button ui-sref="home.invitation" class="ui button fontWhite BGOrange" ng-click="createUser()">
            Vytvořit uživatele
        </button>
    </div>

    <!-- computer form-->
    <div class="computer only six wide column">
        <div class="ui form">
            <div class="field">
                <label>Role</label>
                <select class="ui dropdown">
                    <option value="1">Administrátor</option>
                    <option value="0">Účastník</option>
                    <option value="0">Kontaktní osoba</option>
                </select>
            </div>
            <div class="field">
                <label>Jméno</label>
                <input placeholder="Jméno" type="text" ng-model="user.firstName">
            </div>
            <div class="field">
                <label>Email</label>
                <input placeholder="Email" type="text" ng-model="user.lastName">
            </div>
            <div class="field">
                <label>Telefon</label>
                <input placeholder="Telefon" type="text" ng-model="user.lastName">
            </div>
        </div>
    </div>

    <!-- mobile/tablet form-->
    <div class="mobile only tablet only sixteen wide column">
        <div class="ui form">
            <div class="field">
                <label>Role</label>
                <select class="ui dropdown">
                    <option value="">Administrátor</option>
                    <option value="1">Účastník</option>
                    <option value="0">Kontaktní osoba</option>
                </select>
            </div>
            <div class="field">
                <label>Jméno</label>
                <input placeholder="Jméno" type="text" ng-model="user.firstName">
            </div>
            <div class="field">
                <label>Email</label>
                <input placeholder="Email" type="text" ng-model="user.lastName">
            </div>
            <div class="field">
                <label>Telefon</label>
                <input placeholder="Telefon" type="text" ng-model="user.lastName">
            </div>
        </div>
    </div>
    
    <!-- mobile - submit button -->
    <div class="mobile only sixteen wide column paddingTop0">
        <button ui-sref="home.invitation" class="ui button fontWhite BGOrange width100" ng-click="createUser()">
            Vytvořit uživatele
        </button>
    </div>
</div>
<!-- new user form - end -->