<!-- new user form -->
<div class="ui grid row">
    <div class="ten wide column">
        <h1> Nový uživatel</h1>
    </div>

    <!-- submit button - computer -->
    <div class="tablet only computer only six wide column right aligned">
        <button class="ui button fontWhite BGOrange" ng-click="createUser()">
            Vytvořit uživatele
        </button>
    </div>

    <!-- computer form-->
    <div class="computer only six wide column">
        <div class="ui form">
            <div class="field">
                <label>Role</label>
                <select class="ui dropdown" ng-model="user.role">
                    <option value="ADMINISTRATOR">Administrátor</option>
                    <option value="PARTICIPANT">Účastník</option>
                    <option value="CONTACT_PERSON">Kontaktní osoba</option>
                </select>
            </div>
            <div class="field">
                <label>Přijmení a jméno</label>
                <input placeholder="Jméno" type="text" ng-model="user.name">
            </div>
            <div class="field">
                <label>Heslo</label>
                <input placeholder="Heslo" type="text" ng-model="user.password">
            </div>
            <div class="field">
                <label>Email</label>
                <input placeholder="Email" type="text" ng-model="user.email">
            </div>
            <div class="field">
                <label>Telefon</label>
                <input placeholder="Telefon" type="text" ng-model="user.phone">
            </div>
        </div>
    </div>

    <!-- mobile/tablet form-->
    <div class="mobile only tablet only sixteen wide column">
        <div class="ui form">
            <div class="field">
                <label>Role</label>
                <select class="ui dropdown" ng-model="user.role">
                    <option value="ADMINISTRATOR">Administrátor</option>
                    <option value="PARTICIPANT">Účastník</option>
                    <option value="CONTACT_PERSON">Kontaktní osoba</option>
                </select>
            </div>
            <div class="field">
                <label>Přijmení a jméno</label>
                <input placeholder="Jméno" type="text" ng-model="user.name">
            </div>
            <div class="field">
                <label>Heslo</label>
                <input placeholder="Heslo" type="text" ng-model="user.password">
            </div>
            <div class="field">
                <label>Email</label>
                <input placeholder="Email" type="text" ng-model="user.email">
            </div>
            <div class="field">
                <label>Telefon</label>
                <input placeholder="Telefon" type="text" ng-model="user.phone">
            </div>
        </div>
    </div>

    <!-- mobile - submit button -->
    <div class="mobile only sixteen wide column paddingTop0">
        <button class="ui button fontWhite BGOrange fluid" ng-click="createUser()">
            Vytvořit uživatele
        </button>
    </div>
</div>
<!-- new user form - end -->