<div class="ui stackable menu">
  <div class="item">
    <img src="/images/logo.png">
  </div>
  <a class="item" ui-sref="dashboard">NÁSTĚNKA</a>
  <a class="item">ÚČASTNÍCI</a>
  <a class="item">HELPDESK</a>
   <a class="item">KONFERENCE</a>
    <a class="item" ui-sref="users">UŽIVATELÉ</a>
    <a class="item">NASTAVENÍ</a>
      <div class="right menu">
    <a class="item"><i class="setting icon"></i> ÚŽIVATEL</a>
    <a class="item" ui-sref="login"><i class="sign out icon"></i></a>
  </div>
</div>