<div class="ui grid row">
    <div class="sixteen wide column">
        <h4> Nová zpráva </h4>
        <div class="ui form">
            <div class="field">
                <textarea>
                </textarea>
            </div>
            <div class="field">
                <button class="ui right floated button fontWhite BGOrange">
                    Odeslat
                </button>
            </div>
        </div>
    </div>

    <div class="twelve wide left floated column">
        <div class="ui small floating message">
            <div class="header">
                Jiří Kratochvíl - 24/3/2015 13:46
            </div>
            <p>Dobrý den, vítám Vás v našem komunikačním nástroji pro podporu organizace. Na základě kliknutí na odkaz v pozvánce
                byla Vaše firma přidána do aplikace. Nyní bychom se zde měli dohodnout na detailech účasti Vaší firmy na
                konferenci.</p>
        </div>
    </div>

    <div class="twelve wide right floated column">
        <div class="ui small floating message">
            <div class="header">
                Ing. Petr Novák - 23/3/2015 17:46
            </div>
            <p>Dobrý den, děkuji za informace. Naše firma by ráda získala zlatou medaili a věnovala příspěvek na konferenci
                v hodnotě 100 000 Kč. Je možné Vám nějakým způsobem předat námi používanou smlouvu?</p>
        </div>
    </div>

    <div class="twelve wide column">
        <div class="ui small floating message ">
            <div class="header">
                Jiří Kratochvíl - 10/3/2015 13:40
            </div>
            <p>Určitě, smlouvu nahrajte v záložce dokumenty ...</p>
        </div>
    </div>
</div>