<div class="ui attached message">
    <div class="header">
        Komunikace:
    </div>
</div>
<form class="ui form attached fluid segment marginBot3">
    <div class=" aligned">
        <label> Nová zpráva: </label>
        <textarea ng-model="message.content">
        </textarea>
        <a ng-click="sendMessage()" class="ui right floated button basic my-orange">
            <i class="save icon"></i> Odeslat
        </a>
        <div class="field"></div>
    </div>
</form>

<div class="ui grid row" ng-repeat="message in participation.messages">
    <div class="twelve wide left floated column" ng-if="$even">
        <div class="ui small floating message">
            <div class="header">
                {{message.author.name}} - {{message.date | date:'dd/MM/yyyy HH:mm:ss'}}
            </div>
            <p>{{message.content}}</p>
        </div>
    </div>
    <div class="twelve wide right floated column" ng-if="$odd">
        <div class="ui small floating message">
            <div class="header">
                {{message.author.name}} - {{message.date | date:'dd/MM/yyyy HH:mm:ss'}}
            </div>
            <p>{{message.content}}</p>
        </div>
    </div>
</div>