<div class="ui attached message">
    <div class="header">
        Přílohy:
    </div>
</div>
<form class="ui form attached fluid segment">
    <div class="field">
        <label><i class="ui red empty circular label"></i> Smlouva:</label>
        <a class="ui basic button" ng-click="addAttachementType()">
            <i class="upload icon"></i>Nahrát
        </a>
    </div>
</form>
<form class="ui form attached fluid segment" ng-repeat="attachementType in attachementTypes">
    <div class="field">
        <label><i class="ui red empty circular label"></i> {{attachementType.name}}:</label>
        <p>{{attachementType.description}}:</p>
        <a class="ui basic button" ng-click="addAttachementType()">
            <i class="upload icon"></i>Nahrát
        </a>
    </div>
</form>
<div class="ui bottom attached warning message">
    <a ng-click="" class="ui button basic my-orange">
        <i class="save icon"></i> Uložit
    </a>
</div>