<div class="ui grid grid-container row">
    <div class="sixteen wide column">
        <h3><i class="ui green empty circular label"></i> Logo: </h3>
        <p>
            Popis - požadovaný formát pdf nebo kvalitní jpg/png s rozlišením nejméně 400x400px Cílové umístění: elektronický sborník
            a webové Stránky konference, jmenovka Termín: průběžně, nejpozději do 15. 2. 2016
        </p>
        <p class="ui tiny header"> logoIBM.jpg - 24.5.2015 14:32:45 - 400x400px </p>
        <a class="ui basic button">
            <i class="remove red icon"></i>Odebrat
        </a>
        <a class="ui basic button">
            <i class="unhide icon"></i>Zobrazit
        </a>
    </div>

    <div class="sixteen wide column">
        <h3><i class="ui red empty circular label"></i> Propagační stránka: </h3>
        <p>
            Popis - požadovaný formát pdf, Velikost: 1 x A4 Termín do 31.3.2016
        </p>
        <p class="ui tiny header"></p>
        <a class="ui basic button">
            <i class="add icon"></i>Přidat dokument
        </a>
    </div>

    <div class="sixteen wide column">
        <h3><i class="ui red empty circular label"></i> Video prezentace: </h3>
        <p>
            Popis - požadovaný formát avi/mp4 (doporučujeme doplnit o titulky, jelikož při promítání bude vypnuto audio) Maximální délka
            video prezentace: 60 vteřin, nemělo by mít audio stopu. Termín: do 31. 3. 2016
        </p>
        <p class="ui tiny header"></p>
        <a class="ui basic button">
            <i class="add icon"></i>Přidat dokument
        </a>
    </div>
</div>