<table class="ui very basic table">
    <thead>
    </thead>
    <tbody>
        <tr class="top aligned">
            <td class="six wide">
                <h5> IČO:</h5>
                <div> 738728382332 </div>

                <h5> Sídlo firmy: </h5>
                <div> Praha 4 </div>
                <div> V Parku 229/4 </div>
                <div> Česká republika </div>

                <h5> Kontakt: </h5>
                <div> Ing. Petr Novák </div>
                <div> ibm@europe.com </div>
                <div> 666777342 </div>
            </td>

            <td>
                <h5 ng-if="session.currentUser.permissions.ParticipantDashboardModule"> Sponzorství:</h5>
                <div ng-if="session.currentUser.permissions.ParticipantDashboardModule"> zlaté (50 000 Kč)</div>
                <h5 ng-if="session.currentUser.permissions.ParticipantAdministration"> Sponzorství: </h5>
                <div ng-if="session.currentUser.permissions.ParticipantAdministration" class="ui right labeled input">
                    <input type="text" placeholder="Částka">
                    <div class="ui basic label">
                        Kč
                    </div>
                </div>
                <h5 ng-if="session.currentUser.permissions.ParticipantDashboardModule"> Stav účasti: </h5>
                <div ng-if="session.currentUser.permissions.ParticipantDashboardModule"> potvrzeno </div>
                <h5 ng-if="session.currentUser.permissions.ParticipantAdministration"> Stav účasti: </h5>
                <div ng-if="session.currentUser.permissions.ParticipantAdministration" class="field">
                    <label></label>
                    <select class="ui dropdown">
                        <option value="0">Odmítnuto</option>
                        <option value="1">Přislíbeno</option>
                        <option value="0">Potvrzeno</option>
                        <option value="0">Smlouva v jednání</option>
                        <option value="0">Smouva podepsána</option>
                    </select>
                </div>
                <h5 ng-if="session.currentUser.permissions.ParticipantAdministration"> Shrnutí komunikace: </h5>
                <div ng-if="session.currentUser.permissions.ParticipantAdministration" class="ui form">
                    <div class="field">
                        <textarea>
                            Zde bude přehledně a jasně shrnuto jak probíhala komunikace s firmou v daném roce.
                        </textarea>
                    </div>
                </div>
            </td>
        </tr>

    </tbody>
</table>
