<div class="ui attached message">
    <div class="header">
        Účast:
    </div>
</div>
<form class="ui form attached fluid segment">
    <div class="two fields">
        <div class="field required" ng-if="session.currentUser.permissions.ParticipantAdministration">
            <label>Stav:</label>
            <select class="ui dropdown" ng-model="participation.state">
                <option value="CANCELLED">Odmítnuto</option>
                <option value="APPROVED">Přislíbeno</option>
                <option value="COMPLETE0">Potvrzeno</option>
                <option value="CONTRACT_IN_PROGRESS0">Smlouva v jednání</option>
                <option value="CONTRACT_SIGNED">Smouva podepsána</option>
            </select>
        </div>
    </div>
    <div class="two fields">
        <div class="field">
            <label>Částka:</label>
            <div class="ui right labeled input">
                <input ng-disabled="session.currentUser.permissions.ParticipantDashboardModule" type="number" placeholder="Částka" ng-model="participation.sponsorshipLevel.value">
                <div class="ui basic label">
                    Kč
                </div>
            </div>
        </div>
        <div class="field required">
            <label>Úroveň sponzorství:</label>
            <select ng-disabled="session.currentUser.permissions.ParticipantDashboardModule" class="ui dropdown" ng-model="participation.sponsorshipLevel.name" ng-options="item.name as item.name for item in conference.sponsorshipLevels">
                <option value="" select disabled>Vyberte úroveň sponzorství</option>
            </select>
        </div>
    </div>
    <div class="field" ng-if="session.currentUser.permissions.ParticipantAdministration">
        <label> Shrnutí komunikace: </label>
        <textarea ng-model="participation.communicationSummary">
        </textarea>
    </div>
</form>
<div class="ui attached message">
    <div class="header">
        <h5>Zástupci ({{participation.attendees.length}}/{{conference.attendeesNumber}}):</h5>
    </div>
</div>

<div class="ui attached fluid segment" ng-if="participation.attendees.length<conference.attendeesNumber">
    <div class="field">
        <a class="ui basic button" ng-click="addAttendee()">
            <i class="add icon"></i>Přidat zástupce
        </a>
    </div>
</div>
<form class="ui form attached fluid segment" ng-repeat="attendee in participation.attendees">
    <div class="field required">
        <label> Přijmení a jméno: </label>
        <div class="ui labeled left icon action input">
            <i class="user icon"></i>
            <input placeholder="Přijmení a jméno zástupce" type="text" ng-model="attendee.name">
            <a ng-click="removeAttendee($index)" class="ui button basic">
                <i class="remove red icon"></i> Odebrat
            </a>
        </div>
    </div>
</form>
<div class="ui bottom attached warning message">
    <a ng-click="updateParticipation()" class="ui button basic my-orange">
        <i class="save icon"></i> Uložit
    </a>
</div>