<div class="ui grid grid-container row">
    <div class="sixteen wide column">
        <h3>Kapacita 4/6 </h3>
        <a class="ui basic button">
            <i class="add icon"></i>Přidat
        </a>
        <table class="ui very basic table">
            <tbody>
                <tr>
                    <td class="collapsing">
                        Ing. Petr Slezák
                    </td>
                    <td>
                        <button class="ui basic icon button" data-content="Editovat"><i class="edit icon"></i></button>
                        <button class="ui basic icon button" data-content="Odebrat"><i class="remove red icon"></i></button>
                    </td>
                </tr>
                <tr>
                    <td class="collapsing">
                        Jan Novotný
                    </td>
                    <td>
                        <button class="ui basic icon button" data-content="Editovat"><i class="edit icon"></i></button>
                        <button class="ui basic icon button" data-content="Odebrat"><i class="remove red icon"></i></button>
                    </td>
                </tr>
                <tr>
                    <td class="collapsing">
                        Eliška Dvořáková
                    </td>
                    <td>
                        <button class="ui basic icon button" data-content="Editovat"><i class="edit icon"></i></button>
                        <button class="ui basic icon button" data-content="Odebrat"><i class="remove red icon"></i></button>
                    </td>
                </tr>
                <tr>
                    <td class="collapsing">
                        Přemysl Oráč
                    </td>
                    <td>
                        <button class="ui basic icon button" data-content="Editovat"><i class="edit icon"></i></button>
                        <button class="ui basic icon button" data-content="Odebrat"><i class="remove red icon"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>