<div class="ui attached message">
    <div class="header">
        Helpdesk - přehled
    </div>
</div>
<form class="ui form attached fluid segment">
    <div class="fields">
        <div class="field">
            <a class="ui basic button my-orange" ui-sref="home.helpdeskIssueCreation">
                <i class="add icon"></i>Nový problém
            </a>
        </div>
    </div>
    <div class="four fields">
        <div class="field">
            <label><i class="search icon"></i> Hledat:</label>
            <div class="ui medium icon input fluid">
                <input type="text" placeholder="Hledat..." ng-model="search">
                <i class="search icon"></i>
            </div>
        </div>
        <div class="field">
            <label><i class="filter icon"></i> Stav:</label>
            <div class="ui fluid selection dropdown">
                <i class="dropdown icon"></i>
                <div class="text">
                    <div class="ui empty circular label"></div> Vše
                </div>
                <div class="menu">
                    <div ng-repeat="state in states" class="item" ng-click="filterState(state.constant)">
                        <div class="ui {{state.color}} empty circular label"></div>{{state.text}}</div>
                </div>
            </div>
        </div>
        <div class="field">
            <label><i class="filter icon"></i> Typ:</label>
            <div class="ui fluid selection dropdown">
                <i class="dropdown icon"></i>
                <div class="text">
                    <div class="ui empty circular label"></div> Vše
                </div>
                <div class="menu">
                    <div ng-repeat="type in types" class="item" ng-click="filterType(type.constant)">
                        <div class="ui {{type.color}} empty circular label"></div>{{type.text}}</div>
                </div>
            </div>
        </div>
        <div class="field">
            <label><i class="filter icon"></i> Priorita:</label>
            <div class="ui fluid selection dropdown">
                <i class="dropdown icon"></i>
                <div class="text">
                    <div class="ui empty circular label"></div> Vše
                </div>
                <div class="menu">
                    <div ng-repeat="priority in priorities" class="item" ng-click="filterPriority(priority.constant)">
                        <div class="ui {{priority.color}} empty circular label"></div>{{priority.text}}</div>
                </div>
            </div>
        </div>
    </div>
</form>
<form class="ui form attached fluid segment issueForm" ng-repeat="issue in issues | filter:search | filter : {$: filter.state}: true | filter : {$: filter.type}: true | filter : {$: filter.priority}: true">
    <div class="two fields">
        <div class="field" ui-sref="home.helpdeskIssue({issueId: issue._id})">
            <h3>{{issue.name}}</h3>
            <p> <b>Vytvořeno:</b> {{issue.date | date:'dd/MM/yyyy HH:mm:ss'}} (před {{issue.daysOpened}} dny).</p>
            <p> <i class="large user icon"></i>{{issue.creator.name}} <i class="large doctor outline icon"></i> {{issue.supervisor.name}}
            </p>
        </div>
        <div class="field">
        </div>
    </div>
    <div class="two fields" ui-sref="home.helpdeskIssue({issueId: issue._id})">
        <div class="field">
            <p>{{issue.description}}</p>
            <div class="ui {{issue.state.color}} horizontal label">{{issue.state.text}} </div>
            <div class="ui {{issue.type.color}}  horizontal label">{{issue.type.text}}</div>
            <div class="ui {{issue.priority.color}}  horizontal label">{{issue.priority.text}}</div>
            <i class="comments outline large icon"></i> {{issue.messages.length}}
        </div>
        <div class="field">
        </div>
    </div>
</form>