<div class="ui attached message">
    <div class="header">
        Helpdesk - přehled
    </div>
</div>
<form class="ui form attached fluid segment">
    <div class="fields">
        <div class="field">
            <a class="ui basic button my-orange" ui-sref="home.helpdeskIssueCreation">
                <i class="add icon"></i>Nový problém
            </a>
        </div>
        <div class="four wide field">
            <div class="ui medium icon input fluid">
                <input type="text" placeholder="Hledat...">
                <i class="search icon"></i>
            </div>
        </div>
    </div>
    <div class="fields">
        <div class="field">
            <div class="ui floating labeled icon dropdown button">
                <i class="filter icon"></i>
                <span class="text">Stav</span>
                <div class="menu">
                    <div class="item">
                        <div class="ui red empty circular label"></div>
                        V řešení
                    </div>
                    <div class="item">
                        <div class="ui green empty circular label"></div>
                        Vyřešeno
                    </div>
                </div>
            </div>
        </div>
        <div class="field">
            <div class="ui floating labeled icon dropdown button">
                <i class="filter icon"></i>
                <span class="text">Typ</span>
                <div class="menu">
                    <div class="item">
                        <div class="ui red empty circular label"></div>
                        Chyba systému
                    </div>
                    <div class="item">
                        <div class="ui blue empty circular label"></div>
                        Návrh na zlepšení
                    </div>
                    <div class="item">
                        <div class="ui black empty circular label"></div>
                        Dotaz
                    </div>
                </div>
            </div>
        </div>
        <div class="field">

            <div class="ui floating labeled icon dropdown button">
                <i class="filter icon"></i>
                <span class="text">Priorita</span>
                <div class="menu">
                    <div class="item">
                        <div class="ui yellow empty circular label"></div>
                        Nízká
                    </div>
                    <div class="item">
                        <div class="ui orange empty circular label"></div>
                        Střední
                    </div>
                    <div class="item">
                        <div class="ui red empty circular label"></div>
                        Vysoká
                    </div>
                </div>
            </div>
        </div>
        <div class="field">
            <div class="ui floating labeled icon dropdown button">
                <i class="filter icon"></i>
                <span class="text">Přiřazeno</span>
                <div class="menu">
                    <div class="item">
                        Sadovská
                    </div>
                    <div class="item">
                        Kreslíková
                    </div>
                    <div class="item">
                        Zemčík
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<form class="ui form attached fluid segment issueForm" ng-repeat="issue in issues">
    <div class="two fields">
        <div class="field" ui-sref="home.helpdeskIssue({issueId: issue._id})">
            <h3>{{issue.name}}</h3>
            <p> <b>Vytvořeno:</b> {{issue.date | date:'dd/MM/yyyy HH:mm:ss'}} (před {{issue.daysOpened}} dny).</p>
            <p> <i class="large user icon"></i>{{issue.creator.name}} <i class="large doctor outline icon"></i> {{issue.supervisor.name}} </p>
        </div>
        <div class="field">
        </div>
    </div>
    <div class="two fields" ui-sref="home.helpdeskIssue({issueId: issue._id})">
        <div class="field">
            <p>{{issue.description}}</p>
            <div class="ui {{issue.state.color}} horizontal label">{{issue.state.text}} </div>
            <div class="ui {{issue.type.color}}  horizontal label">{{issue.type.text}}</div>
            <div class="ui {{issue.priority.color}}  horizontal label">{{issue.priority.text}}</div>
            <i class="comments outline large icon"></i> {{issue.messages.length}}
        </div>
        <div class="field">
        </div>
    </div>
</form>